body {
  font-family: "Montserrat";
  background-color: #8584c4;
  margin: 0;
}

h1 {
  font-family: "Montserrat";
  font-size: clamp(4rem, 3.5vw, 3.5rem);
  line-height: 1.5;
  padding: 0 0 1rem;
  text-align: center;
}

h2 {
  font-family: "Montserrat";
  font-size: clamp(2rem, 3.5vw, 3.5rem);
  padding: 0 0 2rem;
  text-align: center;
}

h3 {
  font-family: "Montserrat";
  font-size: clamp(1.8rem, 3.2vw, 3.2rem);
  text-align: center;
}

p {
  font-family: "Montserrat";
  font-size: clamp(1.2rem, 2vw, 1.6rem);
  text-align: center;
  color: #fff;
}







.cta,
#footer
 {
  padding: 3% 10% 7%;
  margin: 0;

}

.title-row,
.about-row,
.cta-row
 {
  margin: auto;
  width: 90%;
}






/* ///// Navbar ///// */

.navbar {
  padding: 2% 10%;
  width: 100%;
}

.navbar-toggler {
  background-color: #ffffff13;
  font-size: 2rem;
}

.navlogo {
  max-width: 10rem;
  margin: 0;
  object-fit: cover;
}  

.nav-item {
  padding: 0 18px;
  margin: 0;
  width: max-content;
}  

.nav-link {
  font-size: 1.2rem;
  margin: 0;
  width: max-content;
  font-weight: lighter;
}  













/* ///// Title ///// */

.title-row {
  padding: 5% 0;
  display: flex;
  color: #fff;
  height: 80vh;
  justify-content: center;
}

.title-row h1 {
  width: 100%;
}

.title-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-buttons {
  display: flex;
  justify-content: center;
}

.title-buttons a {
  margin: 0 1em;
}


.title-image {
  margin-top: 45px;
  position: absolute;
  z-index: 0;
  transform: rotate(10deg);
  height: 38vw;
}


.btn,
a {
  font-family: "Montserrat";
  align-self: center;
}

















/* ///// Features ///// */
#features {
  padding: 7% 12%;
  position: relative;
  background: #fff;
  display: flex;
  border-radius:  5px;;
  width: 100%;
}

.feature-box {
  text-align: center;
  padding: 3%;
  display: flex;
  flex-direction: column;
}

.feature-box > p {
  color: #343a40;
  margin-top: 1rem;
}

.icon {
  color: #8584c4;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #827397;
}













/* ///// About ///// */
#about {
  text-align: center;
  padding: 7% 12%;
  background: #8584c4;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 3em;
  margin: 0 auto;
  align-items: center;
}


.about > h2 {
  margin: 0;
}

.image {
  padding: 6%;
  max-width: 75%;
  border: 2px solid #ffffff3e;
  border-radius: 50%;
  object-fit: cover;
  }

.about p {
  color: #fff;
}





/* What We Do */

#whatwedo {
  text-align: center;
  padding: 10% 6%;
  background: white;
  color: #8584c4;
}

.whatwedo-row {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 3vw;
  row-gap: 3vw;
  align-items: center;

}

.alt-title {
  padding: 5% 0;
  display: flex;
  color: #fff;
  height: 50vh;
}


.whatwedo p {
  color: #8584c4;
}

.whatwedo-image {
  margin: 5%;
  height: 100%;
  margin: 0;
  object-fit: cover;
}















/* //// Blog //// */

.blog-grid {
  padding: 10em 3em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5vw;
  row-gap: 5vw;
  background-color: #fff;
}

.blog-post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-post p {
  color: #343a40;

}

.blog-post > img {
  width: 100%;
  margin-bottom: 9vh;
}

.blogpage,
.blog-author,
.blogbody, 
span {
  color: white;
}

.blog-author {
  margin-bottom: 6rem;
}

.blog-btn {
  margin-right: auto;
  margin-left: auto;
  margin-top: 10vh;

}

.c0, .c1, .c2, .c3, .c4, .c5, .c6, .c7 {
  text-align: left;
}
























/* //// Services //// */

#services {
  padding: 10% 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2%;
  justify-content: space-around;
  background-color: white;
  height: fit-content;
}

.serviceimg {
  max-width: 45vw;
  align-self: center;
}














/* ///// Cards - Pricing ///// */
#pricing {
  margin-top: 5rem;
  text-align: center;
  padding: 10% 10%;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
}

.container {
  font-size: 14px;
}
@media (min-width: 768px) {
  .container {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
  display: flex;
}

.card-title {
  color: #000;
}

.card-body {
  font-size: 1.2rem;
}

.btn1 {
  margin-top: 1rem;
}

.pricehead {
  padding: 0 0 1.5rem;
  font-weight: bold;
  color: black;
}

.pricelow {
  color: #000;
}

.pricelowest {
  padding: .8rem 0 1.8rem;
  color: Black;
}

.pricebody {
  padding: 0 0 1rem;
}

.list-unstyled {
  color: Black;
  
}

.my-0 {
  color: #8584c4;
}


.h2 {
  padding: .33rem 0 2.5rem;
}























/* //// CTA //// */

#cta {
  padding: 2rem;
  margin-bottom: 5vh;
  background-color: #8584c4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.ctahead {
  padding-top: 5vh;
}

.cta-row {
  justify-content: center;
  align-content: center;
  display: flex;
}

#footer {
  background-color: #ffffff13;
  padding: 2em 10em .1em;
}

.footer {
  padding: 2em 0 0.1em;
  margin: auto;
  color: #00000071;
  display: flex;
  flex-direction: column;
}

.footertop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footertop p {
  width: 30vw;
  color: #000;
}

.footerlink {
  text-decoration: none;
  color: #00000071;
  margin: 0;
  padding: 0;
}














/* //// CONTACT //// */

.contactform {
  display: flex;
  width: 100%;
  padding: 10%;
  justify-content: center;
  background-color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  width: 60%;
}























/* MEDIA */


@media (max-width: 991px) {

  
  h1 {
    
    font-size: 4rem;
  }
  
  h2 {
    
    font-size: 3.5rem;
  }
  
  h3 {
    
    font-size: 3rem;
  }
  
  p, a {
    
    font-size: 2.5rem;
    
  }
  
  .navbar-nav{
    padding: 2rem 0; 
  }
  
  .navbar-nav a {
    font-size: 2.5rem;
  }
  
  .navbar {
    background-color: #ffffff13;
    padding: 5% 10%;
  }
  
  .navlogo {
    max-width: 20rem;
  }
  
  .btn {
    font-size: 2.8rem;
    padding: .4em .8em;
    margin: .5em .3em;
  }
  
  h1 {
    text-align: center;
  }
  
  .title-image {
    position: relative;
    display: none;
  }
  
  .title-row {
    padding-top: 5%;
    height: max-content;
    flex-direction: column;
    text-align: center;
  }
  
  .alt-title {
    height: max-content;
    padding: 17% 5%;
    align-items: center;
  }
  
  .card-deck {
    flex-direction: column;
  }
  
  .card-header h4 {
    font-size: 3rem;
  }
  
  .card-body {
    font-size: 2.5rem;
  }
  
  
  #about {
    grid-template-columns: 1fr;
    margin: auto;
  }
  
  .image {
    max-width: 30%;
  }
  
  #features {
    flex-direction: column;
  }
  
  #footer {
    padding: 2em 2em .1em;
  }
  .footertop {
    flex-direction: column;
  }
  .footertop p {
    width: 90vw;
  }
  
  #whatwedo {
    padding: 8% 6%;
  }
  
  .whatwedo-row {
    grid-template-columns: 1fr;
    row-gap: 5vh;
  }
  
  .whatwedo-image {
    height: 100%;
  }
  
  .blog-grid {
    grid-template-columns: 1fr;
  }
  
  .blog-post {
    padding-bottom: 6vh;
    padding-top: 2vh;
    border-bottom: 12px solid #f5f5f5;
  }
  
  .blog-post p { 
    margin: .5em 0 1em;
  }
  
  #services {
    padding: 10% 3%;
    grid-template-columns: 1fr;
    align-items: center;
    row-gap: 4%;
    min-height: 150vh;
    overflow: scroll;
  }
  .serviceimg {
    max-width: 90vw;
    object-fit: cover;
  }
  
  form {
    width: 95%;
  }

  label {
    font-size: 2.5rem;
  }
  


}